menu "Web USB NS HID Configurations"
  menu "String Descriptor"
    config NSG_HID_STRDESC_MANUFACTURER
      string "Manufacturer"
      default "mvodya"
      help
        USB string descriptor identifying the manufacturer of the device.
        Appears in system device information and is useful for debugging or distinguishing between different vendors.
    
    config NSG_HID_STRDESC_PRODUCT
      string "Product"
      default "WEB USB NS Gamepad"
      help
        USB string descriptor specifying the product name.
        Shown in the operating system when the device is connected.
    
    config NSG_HID_STRDESC_SERIAL
      string "Serial"
      default "123456"
      help
        USB string descriptor with the device serial number.
        Should be unique per device to allow the OS to differentiate between multiple units of the same product.
    
    config NSG_HID_STRDESC_HID
      string "HID"
      default "WEB USB NS Gamepad"
      help
        USB string descriptor used specifically for the HID interface.
        Typically matches the product name, but can be customized to reflect a specific HID profile.

  endmenu

  config NSG_HID_AUTO_INIT_AFTER_MOUNT
    bool "Auto init gamepad after connect"
    default y
      help
        When enabled, gamepad automatically send an initial "button press" report after USB enumeration.  
        This is required for the Nintendo Switch to recognize and display the controller in the system menu.  

        If disabled, the controller will not appear until the user manually presses at least one button.  

  config NSG_HID_POOLING_TICKRATE_MS
    int "Pooling tickrate (ms)"
    range 1 1000
    default 10
    help
      Interval in milliseconds between HID reports sent over USB.  

endmenu
